*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Lato', 'Arial', 'sans-serif';
	text-rendering: optimizeLegibility;
	height: 100%;
	line-height: 1.15;
}

body {
	background-color: #ffc04c;
}

img {
	height: 200px;
	width: 200px;
}

li {
	height: 100%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}
