<header>
  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container-fluid">
      <img src="https://openclipart.org/download/212589/HAMBURGUER.svg" class="rounded mx-auto d-block" alt="Burger">
      <h1 class="display-4 text-center">Eat-Da-Burger</h1>
    </div>
  </div>
</header>